@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main {
    background-color: black;
}

#fundo {
    height: 100vh;
    background: url('../Projeto-Iframe/imagens/fundo-madeira.jpg') no-repeat top center;
    background-attachment: fixed;
}

#telefone {
    background: url('../Projeto-Iframe/imagens/frame-iphone.png');
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 627px;
    width: 311px;
}

#telefone iframe {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

#fundo {
    text-align: right;
}

#fundo img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.637);
    box-sizing: border-box;
    
}

#fundo img:hover {
    transform: translate(-3px, -3px);
    transition: transform .3s;
    border: 1px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
}


